<div id="wrapper">
  <ul id="articles">

    {{#each articleList}}

    <li class="newList"><a href="{{this.href}}">{{this.title}}</a></li>

    <button class="button btn btn-info savebtn" type="button" id="{{this._id}}">Save</button>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary noteBtn" data-toggle="modal" data-target="#exampleModal">
      add a note
    </button>
    {{#if this.note}}
    <div class="card" style="width: 18rem; margin: 10px 0 10px 0" id="note{{@index}}">
      <div class="card-body">
        <h5 class="card-title">{{this.note.title}}</h5>

        <p class="card-text">{{this.note.body}}</p>

      </div>
    </div>
    {{/if}}

    {{/each}}

  </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="/app.js"></script>